env {
  parallelism = 1
  job.mode = "BATCH" #STREAMING
  checkpoint.interval = 6000
}


 

source {
  Kafka {
    result_table_name = "kafka_source"   # Add this line
    schema = {
      fields {

       MessageID= String,
       MessageType= String,
       MessageVersion= String,
       MessageTime= String,
       Sender= String,
       Data= String
      } 
    }
    format = json
    topic = "CFX_CFX_Production_WorkCompleted"
    bootstrap.servers = "<kafka-broker>:9092"
    kafka.config = {
      max.poll.records = 1000
      auto.offset.reset = "earliest"
      security.protocol = PLAINTEXT
      sasl.mechanism = PLAIN
    }
  }  
}


transform {
  JsonPath {
    source_table_name= "kafka_source"
    result_table_name = "trans_json"   # Add this line
    row_error_handle_way = SKIP  # 跳過錯誤行
    columns = [
      {
        "src_field" = "Data"
        "path" = "$.ProcessedTime"
        "dest_field" = "ProcessedTime"
      },
      {
        "src_field" = "Data"
        "path" = "$.Meta.DeviceID"
        "dest_field" = "Meta_DeviceID"
      },
      {
        "src_field" = "Data"
        "path" = "$.Meta.LineID"
        "dest_field" = "Meta_LineID"
      },
      {
        "src_field" = "Data"
        "path" = "$.Meta.MfgPlantCode"
        "dest_field" = "Meta_MfgPlantCode"
      },
      {
        "src_field" = "Data"
        "path" = "$.Meta.Factory"
        "dest_field" = "Meta_Factory"
      },
      {
        "src_field" = "Data"
        "path" = "$.Meta.MessageName"
        "dest_field" = "Meta_MessageName"
      },
      {
        "src_field" = "Data"
        "path" = "$.Meta.Source"
        "dest_field" = "Meta_Source"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageName"
        "dest_field" = "RawData_MessageName"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.Version"
        "dest_field" = "RawData_Version"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.TimeStamp"
        "dest_field" = "RawData_TimeStamp"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.UniqueID"
        "dest_field" = "RawData_UniqueID"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.Source"
        "dest_field" = "RawData_Source"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.Target"
        "dest_field" = "RawData_Target"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.RequestID"
        "dest_field" = "RawData_RequestID"
      },
      {
        "src_field" = "Data"
        "path" = "$['RawData']['MessageBody']['$type']"
        "dest_field" = "Type"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.TransactionID"
        "dest_field" = "TransactionID"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.Result"
        "dest_field" = "Result"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.PrimaryIdentifier"
        "dest_field" = "PrimaryIdentifier"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.HermesIdentifier"
        "dest_field" = "HermesIdentifier"
      },
      {
        "src_field" = "Data"
        "path" = "$.RawData.MessageBody.UnitCount"
        "dest_field" = "UnitCount"
      }
    ]
  }
 Sql {
    source_table_name= "trans_json"
    result_table_name = "trans_json_sql"   # Add this line
    query = """
      select
      RawData_UniqueID,
      RawData_RequestID ,
      ProcessedTime ,

      RawData_MessageName,
      RawData_Version ,
      RawData_TimeStamp ,
      RawData_Source ,
      RawData_Target ,

      Type  ,
      TransactionID ,  -- renamed to avoid keyword conflict
      Result  ,
      PrimaryIdentifier ,
      HermesIdentifier ,
      UnitCount ,
      Meta_DeviceID ,
      Meta_LineID ,
      Meta_MfgPlantCode  ,
      Meta_Factory ,
      Meta_MessageName ,
      Meta_Source ,  -- renamed to avoid keyword conflict



       MessageID,
       MessageType,
       MessageVersion,
       MessageTime,
       Sender,
      from trans_json
    """
  }  


}




#------------------------------dk--------------------------
sink {
  Doris {
    source_table_name= "trans_json_sql"
    result_table_name = "sink_doris"   # Add this line
    doris.batch.size = 1024
    fenodes = "<doris-fe-host>:8030"
    username = "root"
    password = ""
    database = "test_variant" #"dataplatform"
    table = "ods_eap_workcomplete_U"
    sink.label-prefix = "ods_eap_dp_U"
    sink.enable-delete = "true"
    schema_save_mode = "CREATE_SCHEMA_WHEN_NOT_EXIST"
    data_save_mode = "APPEND_DATA"
    save_mode_create_template = """
    CREATE TABLE IF NOT EXISTS `test_variant`.`ods_eap_workcomplete_U` (

      RawData_UniqueID VARCHAR(255)   NULL,
      RawData_RequestID VARCHAR(255)   NULL,
      ProcessedTime DATETIME  NULL,

      RawData_MessageName VARCHAR(255)  NULL,
      RawData_Version VARCHAR(255) NOT NULL,
      RawData_TimeStamp VARCHAR(255)   NULL,
      RawData_Source VARCHAR(255)  NULL,
      RawData_Target VARCHAR(255)   NULL,

      Type VARCHAR(255)   NOT NULL,
      TransactionID VARCHAR(255)   NULL,  -- renamed to avoid keyword conflict
      Result VARCHAR(255)  NULL,
      PrimaryIdentifier VARCHAR(255) NOT NULL,
      HermesIdentifier VARCHAR(255)   NULL,
      UnitCount VARCHAR(255)   NULL,
      Meta_DeviceID VARCHAR(255)   NULL,
      Meta_LineID VARCHAR(255)   NULL,
      Meta_MfgPlantCode VARCHAR(255)    NULL ,
      Meta_Factory VARCHAR(255)    NULL,
      Meta_MessageName VARCHAR(255)   NULL,
      Meta_Source VARCHAR(255)   NULL,  -- renamed to avoid keyword conflict
      MessageID VARCHAR(255)   NULL,
       MessageType VARCHAR(255)   NULL,
       MessageVersion VARCHAR(255)   NULL,
       MessageTime VARCHAR(255)   NULL,
       Sender VARCHAR(255)   NULL
    ) ENGINE=OLAP
    UNIQUE KEY(`RawData_UniqueID`, `RawData_RequestID`, `ProcessedTime`)
    PARTITION BY RANGE(`ProcessedTime`)
    (PARTITION p202410 VALUES [('2024-10-01 00:00:00'), ('2024-11-01 00:00:00')),
    PARTITION p202411 VALUES [('2024-11-01 00:00:00'), ('2024-12-01 00:00:00')),
    PARTITION p202412 VALUES [('2024-12-01 00:00:00'), ('2025-01-01 00:00:00')),
    PARTITION p202501 VALUES [('2025-01-01 00:00:00'), ('2025-02-01 00:00:00')),
    PARTITION p202502 VALUES [('2025-02-01 00:00:00'), ('2025-03-01 00:00:00')))
    DISTRIBUTED BY HASH(`RawData_UniqueID`) BUCKETS AUTO
    PROPERTIES (
    "replication_allocation" = "tag.location.default: 1",
    "min_load_replica_num" = "-1",
    "is_being_synced" = "false",
    "dynamic_partition.enable" = "true",
    "dynamic_partition.time_unit" = "MONTH",
    "dynamic_partition.time_zone" = "Etc/UTC",
    "dynamic_partition.start" = "-2",
    "dynamic_partition.end" = "2",
    "dynamic_partition.prefix" = "p",
    "dynamic_partition.replication_allocation" = "tag.location.default: 1",
    "dynamic_partition.buckets" = "16",
    "dynamic_partition.create_history_partition" = "false",
    "dynamic_partition.history_partition_num" = "-1",
    "dynamic_partition.hot_partition_num" = "0",
    "dynamic_partition.reserved_history_periods" = "NULL",
    "dynamic_partition.storage_policy" = "",
    "dynamic_partition.start_day_of_month" = "1",
    "storage_medium" = "hdd",
    "storage_format" = "V2",
    "inverted_index_storage_format" = "V1",
    "enable_unique_key_merge_on_write" = "true",
    "light_schema_change" = "true",
    "disable_auto_compaction" = "false",
    "enable_single_replica_compaction" = "false",
    "group_commit_interval_ms" = "10000",
    "group_commit_data_bytes" = "134217728",
    "enable_mow_light_delete" = "false"
    )"""
    doris.config {
      format = "json"
      read_json_by_line = "true"
    }
  }
}