env {
  parallelism = 1
  job.mode = "STREAMING" #STREAMING
  checkpoint.interval = 6000
}

source {
  Kafka {
    result_table_name = "source"   # Add this line
    schema = {
      fields {
        OWNER = string
        TABLE = string
        OP = string
        scn = string
        train_id = string
        train_seq = string
        rowid = string
        load_seq = string
        DBNAME = string
        columnInfo = string
        columnsAfter = string
      }
    } 
    format = json
    topic = "MES-IT__WJIAMES__WJ_IA__POC__R_SN_CNF_T"
    bootstrap.servers = "<kafka-broker-1>:9092,<kafka-broker-2>:9092,<kafka-broker-3>:9092"
    kafka.config = {
      max.poll.records = 1000
      auto.offset.reset = "earliest"
      security.protocol = SASL_PLAINTEXT
      sasl.mechanism = PLAIN
      sasl.jaas.config = "org.apache.kafka.common.security.scram.ScramLoginModule required username=\\"<KAFKA_USERNAME>\\" password=\\"<KAFKA_PASSWORD>\\";"
    }
  }  
}

sink {
  Console {
    result_table_name = "source"
  }
}

transform {
   Sql {
    source_table_name= "source"
    result_table_name = "source_trans_sql"   # Add this line
    query = """
      select
       *
      from fake
      WHERE OP = 'I'
    """
  }  
  JsonPath {
    source_table_name= "source_trans_sql"
    result_table_name = "source_json"   # Add this line
    row_error_handle_way = SKIP  # Ë∑≥È??ØË™§Ë°?
    columns = [
      {
        "src_field" = "columnInfo"
        "path" = "$.SERIAL_NUMBER"
        "dest_field" = "serial_number"
      },
      {
        "src_field" = "columnInfo"
        "path" = "$.MO_NUMBER"
        "dest_field" = "mo_number"
      },
      {
        "src_field" = "columnInfo"
        "path" = "$.MODEL_NAME"
        "dest_field" = "model_name"
      },
      {
        "src_field" = "columnInfo"
        "path" = "$.LINE_NAME"
        "dest_field" = "line_name"
      }
    ]
  }
    Sql {
    source_table_name= "source_json"
    result_table_name = "source_json_sql"   # Add this line
    query = """
      select
        scn,
        train_id,
        train_seq,
        load_seq,
        rowid,
        OWNER AS `owner`,
        `TABLE` AS table_name,  -- ?øÂ??áÈ??µÂ?Ë°ùÁ?
        `OP` AS op,
        `DBNAME` AS db_name,
        serial_number,
        mo_number,
        model_name,
        line_name,
        NOW() AS `Input_time`
      from source_json
    """
  }  
}



#------------------------------dk--------------------------
sink {
  Doris {
    source_table_name= "source_json_sql"
    result_table_name = "sink_doris"   # Add this line
    doris.batch.size = 1024
    fenodes = "<doris-fe-host>:8030"
    username = "root"
    password = ""
    database = "dataplatform"
    table = "ods_mes_r_sn_cnf"
    sink.label-prefix = "ods_mes_dp"
    sink.enable-delete = "true"
    schema_save_mode = "CREATE_SCHEMA_WHEN_NOT_EXIST"
    data_save_mode = "APPEND_DATA"
    save_mode_create_template = """
    CREATE TABLE IF NOT EXISTS `dataplatform`.`ods_mes_r_sn_cnf` (
      scn VARCHAR(255)  NULL,
      train_id VARCHAR(255)   NULL,
      train_seq VARCHAR(255)   NULL,
      load_seq VARCHAR(255)    NULL ,
      rowid VARCHAR(255)    NULL,
      `owner` VARCHAR(255)   NULL,
      `table_name` VARCHAR(255)   NULL,  -- renamed to avoid keyword conflict
      `op` VARCHAR(255)  NULL,
      db_name VARCHAR(255) NOT NULL,
      serial_number VARCHAR(255)   NULL,
      mo_number VARCHAR(255)   NULL,
      model_name VARCHAR(255)  NULL,
      line_name VARCHAR(255)   NULL,
      Input_time Datetime NOT NULL
    ) ENGINE=OLAP
    DUPLICATE KEY (scn, train_id, train_seq,load_seq,rowid)  -- ‰øÆÊîπ??DUPLICATE KEYÔºå‰∏¶?áÂ??ÄË¶ÅÁ??ÜÂ???
    DISTRIBUTED BY HASH (rowid)  -- ?ÜÂ??µÂèØ‰ª•Ê†π?öÈ?Ê±Ç‰øÆ??
    PROPERTIES (
      "replication_allocation" = "tag.location.default: 1",
      "in_memory" = "false",
      "storage_format" = "V2",
      "disable_auto_compaction" = "false"
    )"""
    doris.config {
      format = "json"
      read_json_by_line = "true"
    }
  }
}


