'''
{
  "MessageID": "76381e18-0fc4-490c-a1ed-c7a1d8c5aac2",
  "TransactionID": null,
  "MessageType": "DEVICE_CFX",
  "MessageVersion": 1.0,
  "MessageTime": "2024-11-18T08:30:23.303708+00:00",
  "Sender": "FactoryEAP",
  "Data": {
    "ProcessedTime": "2024-11-18T08:30:23.301576+00:00",
    "Meta": {
      "DeviceID": "E022012701",
      "LineID": "D-ASSY-02",
      "MfgPlantCode": "CDP",
      "Factory": "WJ3",
      "MessageName": "CFX.Production.WorkCompleted",
      "Source": "CFX.A00.E022012701"
    },
    "RawData": {
      "MessageName": "CFX.Production.WorkCompleted",
      "Version": "1.7",
      "TimeStamp": "2024-11-18T08:30:23.3001514+00:00",
      "UniqueID": "2f7e7597-5eb7-4397-893c-01b5cb9f714e",
      "Source": "CFX.A00.E022012701",
      "Target": "inline-control",
      "RequestID": "98f99a33-5db1-4692-a775-176b458847c7",
      "MessageBody": {
        "$type": "CFX.Production.WorkCompleted, CFX",
        "TransactionID": "845776a3-e3a2-485c-ac0b-489229db2b62",
        "Result": "Completed",
        "PrimaryIdentifier": "Vir241118163009687",
        "HermesIdentifier": "string",
        "UnitCount": 1,
        "Units": [
          {
            "UnitIdentifier": "Vir241118163009687",
            "PositionNumber": 1,
            "PositionName": "string",
            "X": 0.0,
            "Y": 0.0,
            "Rotation": 0.0,
            "FlipX": false,
            "FlipY": false,
            "Status": "Pass"
          }
        ],
        "PerformanceImpacts": []
      }
    },
    "Transmission": [
      {
        "Node": "WJ3-CDP-C02",
        "SendTime": "2024-11-18T08:30:23.301633+00:00"
      },
      {
        "Node": "FactoryEAP",
        "SendTime": "2024-11-18T08:30:23.303671+00:00"
      }
    ]
  }
}
'''




env {
  parallelism = 1
  job.mode = "batch"
  checkpoint.interval = 600000
}

source {
  Kafka {
    result_table_name = "fake"   # Add this line
    schema = {
      fields {
        MessageID = string
        TransactionID = string
        MessageType = string
        MessageVersion = float
        MessageTime = string
        Sender = string
        Data = string  # jsonpath
        Transmission = string  # jsonpath
      }
    } 
    format = json
    topic = "EAP.WJ3.CDP.D-ASSY-02.DEVICE_CFX.CFX.Production.WorkCompleted"
    bootstrap.servers = "10.146.212.114:9092"
    kafka.config = {
      max.poll.records = 1000
      auto.offset.reset = "earliest"
        #security.protocol = SASL_PLAINTEXT
        #sasl.mechanism = PLAIN
        #sasl.jaas.config = "org.apache.kafka.common.security.scram.ScramLoginModule required username=\\"<KAFKA_USERNAME>\\" password=\\"<KAFKA_PASSWORD>\\";"
    }
  }  
}



sink {
  Console {
  source_table_name = "fake"
  }
}
