# Set the basic configuration of the task to be performed
env {
  parallelism = 1
  job.mode = "BATCH"
}
source {
  Clickhouse {
    host = "<clickhouse-host>:8123"
    database = "EAP"
    sql = "SELECT * FROM PK_MessageBody_data where LineName = 'wj_c02' LIMIT 100000000"
    username = "default"
    password = "default"
    server_time_zone = "UTC"
    clickhouse.config = {
      "socket_timeout" = "6000000"
    }
  }
}
sink {
    Doris {
        fenodes = "<doris-fe-host>:8030"
        username = "root"
        password = ""
        database = "test_variant"
        schema_save_mode = "CREATE_SCHEMA_WHEN_NOT_EXIST"
        table = "pkmsg_autobkt"
        data_save_mode = "APPEND_DATA"
        sink.enable-2pc = "true"
        sink.label-prefix = "pkmsg_autobkt_c02"
        save_mode_create_template = """
        CREATE TABLE IF NOT EXISTS `${database}`.`${table}`
        (
            TimeStamp DATETIME ,
            UniqueID VARCHAR(255) ,
            LineName VARCHAR(255) ,
            MessageName VARCHAR(255),
            Source VARCHAR(255),
            Target VARCHAR(255),
            RequestID VARCHAR(255) ,
            MessageBody TEXT 
        ) ENGINE=OLAP
        DUPLICATE KEY(TimeStamp, UniqueID)
        PARTITION BY RANGE(TimeStamp)
        (
            PARTITION p202408 VALUES LESS THAN ('2024-09-01'),
            PARTITION p202409 VALUES LESS THAN ('2024-10-01'),
            PARTITION p202410 VALUES LESS THAN ('2024-11-01')
        )
        DISTRIBUTED BY HASH(`TimeStamp`) BUCKETS AUTO
        PROPERTIES (
            "dynamic_partition.enable" = "true",
            "dynamic_partition.time_unit" = "MONTH",
            "dynamic_partition.start" = "-2",
            "dynamic_partition.end" = "5",
            "dynamic_partition.prefix" = "p",
            "replication_allocation" = "tag.location.default: 1",
            "storage_policy" = "test_policy",
            "min_load_replica_num" = "-1",
            "is_being_synced" = "false",
            "storage_medium" = "hdd", 
            "in_memory" = "false",
            "storage_format" = "V2",
            "inverted_index_storage_format" = "V1",
            "light_schema_change" = "true",
            "disable_auto_compaction" = "false",
            "enable_single_replica_compaction" = "false",
            "group_commit_interval_ms" = "10000",
            "group_commit_data_bytes" = "134217728"
        )"""
        doris.config = {
            format = "json"
            read_json_by_line = "true"
        }
    }
}



