# Defining the runtime environment
env {
  parallelism = 1
  job.mode = "BATCH"
}

source {
  Kafka {
    schema = {
      fields {
        Timestamp = timestamp 
        Topic = string
        Partition = int
        Offset = long
        SchemaId = string
        SchemaType = string
        Key = string
        OWNER = string
        TABLE = string
        OP = string
        scn = string
        train_id = string
        train_seq = string
        rowid = string
        load_seq = string
        DBNAME = string
        columnsBefore = string
        columnsAfter = string
      }
    }
    format = json
    topic = "MES-IT__WJADPMES__WJ_ADP__POC__R_SN_CNF_T"
    bootstrap.servers = "<kafka-broker-1>:9092,<kafka-broker-2>:9092,<kafka-broker-3>:9092"
    kafka.config = {
      client.id = client_1
      max.poll.records = 500
      auto.offset.reset = "earliest"
      security.protocol=SASL_PLAINTEXT
      sasl.mechanism=PLAIN
      sasl.jaas.config="org.apache.kafka.common.security.scram.ScramLoginModule required username=\\"<KAFKA_USERNAME>\\" password=\\"<KAFKA_PASSWORD>\\";"
    }
  }  
}

sink {
  Console {}
}


sink {
    Doris {
        fenodes = "<doris-fe-host>:8030"
        username = "root"
        password = ""
        database = "test_variant"
        schema_save_mode = "CREATE_SCHEMA_WHEN_NOT_EXIST"
        table = "wj_c11_wjadpmes__wj_adp__poc__r_sn_cnf_t"
        data_save_mode = "APPEND_DATA"
        sink.enable-2pc = "false"
        sink.label-prefix = "wj_c11_wjadpmes__wj_adp__poc__r_sn_cnf_t"
        doris.batch.size = 1000
        save_mode_create_template = """
        CREATE TABLE IF NOT EXISTS `${database}`.`${table}`
        (
            TimeStamp DATETIME,
            Topic VARCHAR(255),
            Partition VARCHAR(255),
            Offset VARCHAR(255),
            SchemaId VARCHAR(255),
            SchemaType VARCHAR(255),
            Key VARCHAR(255),

            OWNER VARCHAR(255),
            TABLE VARCHAR(255),
            OP VARCHAR(255),
            scn VARCHAR(255),
            train_id VARCHAR(255),
            train_seq VARCHAR(255),
            rowid VARCHAR(255),
            load_seq VARCHAR(255),
            DBNAME VARCHAR(255),
            columnsBefore map 
            columnsAfter 
        ) ENGINE=OLAP
        DUPLICATE KEY(TimeStamp,UniqueID)
        PARTITION BY RANGE(TimeStamp)
        (
            PARTITION p202408 VALUES LESS THAN ('2024-09-01'),
            PARTITION p202409 VALUES LESS THAN ('2024-10-01'),
            PARTITION p202410 VALUES LESS THAN ('2024-11-01')
        )
        DISTRIBUTED BY HASH(`TimeStamp`) BUCKETS AUTO
        PROPERTIES (
            "dynamic_partition.enable" = "true",
            "dynamic_partition.time_unit" = "MONTH",
            "dynamic_partition.start" = "-2",
            "dynamic_partition.end" = "5",
            "dynamic_partition.prefix" = "p",
          "replication_allocation" = "tag.location.default: 1",
            "storage_policy" = "test_policy",
            "min_load_replica_num" = "-1",
            "is_being_synced" = "false",
            "storage_medium" = "hdd", 
            "in_memory" = "false",
            "storage_format" = "V2",
            "inverted_index_storage_format" = "V1",
            "light_schema_change" = "true",
            "disable_auto_compaction" = "false",
            "enable_single_replica_compaction" = "false"
        )"""
        doris.config = {
            format = "json"
            read_json_by_line = "true"
        }
    }
}
