# Defining the runtime environment
env {
  parallelism = 2
  job.mode = "BATCH"
}
source {
  Kafka {
    schema = {
      fields {
        Timestamp = "Timestamp"
        Topic = "string"
        Partition = "string"
        Offset = "string"
        SchemaId = "int"
        SchemaType = "string"
        Key = "string"
        OWNER = "string"
        TABLE = "int"
        OP = "string"
        scn = "string"
        train_id = "string"
        train_seq = "int"
        rowid = "string"
        load_seq = "string"
        DBNAME = "string"
        columnsBefore = "int"
        columnsAfter = "string"
      }
    }
    format = text
    field_delimiter = "#"
    topic = "MES-IT__WJADPMES__WJ_ADP__POC__R_SN_CNF_T"
    bootstrap.servers = "<kafka-broker-1>:9092,<kafka-broker-2>:9092,<kafka-broker-3>:9092"
    kafka.config = {
      client.id = client_1
      max.poll.records = 500
      auto.offset.reset = "earliest"
      enable.auto.commit = "false"
    }
  }  
}
sink {
  Console {}
}
