env {
  parallelism = 1
  job.mode = "STREAMING"
  checkpoint.interval = 6000
}

source {
  Kafka {
    result_table_name = "fake"   # Add this line
    schema = {
      fields {
        OWNER = string
        TABLE = string
        OP = string
        scn = string
        train_id = string
        train_seq = string
        rowid = string
        load_seq = string
        DBNAME = string
        columnInfo = string
      }
    } 
    format = json
    topic = "MES-IT__WJIAMES__WJ_IA__POC__R_SN_CNF_T"
    bootstrap.servers = "<kafka-broker-1>:9092,<kafka-broker-2>:9092,<kafka-broker-3>:9092"
    kafka.config = {
      max.poll.records = 1000
      auto.offset.reset = "earliest"
      security.protocol = SASL_PLAINTEXT
      sasl.mechanism = PLAIN
      sasl.jaas.config = "org.apache.kafka.common.security.scram.ScramLoginModule required username=\\"<KAFKA_USERNAME>\\" password=\\"<KAFKA_PASSWORD>\\";"
    }
  }  
}


transform {
  JsonPath {
  
    source_table_name= "fake"
    result_table_name = "fake_trans"   # Add this line
    row_error_handle_way = SKIP  # Ë∑≥È??ØË™§Ë°?
    columns = [
      {
        "src_field" = "columnInfo"
        "path" = "$.SERIAL_NUMBER"
        "dest_field" = "columnInfo_serial_number"
      },
      {
        "src_field" = "columnInfo"
        "path" = "$.MO_NUMBER"
        "dest_field" = "columnInfo_mo_number"
      },
      {
        "src_field" = "columnInfo"
        "path" = "$.MODEL_NAME"
        "dest_field" = "columnInfo_model_name"
      },
      {
        "src_field" = "columnInfo"
        "path" = "$.LINE_NAME"
        "dest_field" = "columnInfo_line_name"
      }
    ]
  }

  Sql {
  
    source_table_name= "fake_trans"
    result_table_name = "fake_trans_sql"   # Add this line
    query = """
      select
        IFNULL(scn, '') as scn,
        IFNULL(train_id, '') as train_id,
        IFNULL(train_seq, '') as train_seq,
        IFNULL(OWNER, '') as `owner`,
        IFNULL(`TABLE`, '') as table_name,  -- ?øÂ??áÈ??µÂ?Ë°ùÁ?
        IFNULL(OP, '') as op,
        IFNULL(rowid, '') as rowid,
        IFNULL(load_seq, '') as load_seq,
        IFNULL(DBNAME, '') as dbname,
        IFNULL(columnInfo_serial_number, '') as columnInfo_serial_number,
        IFNULL(columnInfo_mo_number, '') as columnInfo_mo_number,
        IFNULL(columnInfo_model_name, '') as columnInfo_model_name,
        IFNULL(columnInfo_line_name, '') as columnInfo_line_name,
        NOW() as `Input_time` 
     
      from fake_trans
    """
  }
}

sink {
  Doris {
    source_table_name= "fake_trans_sql"
    result_table_name = "fake_doris"   # Add this line
    doris.batch.size = 1024
    fenodes = "<doris-fe-host>:8030"
    username = "root"
    password = ""
    database = "test_variant"
    table = "jsonpath_wj_c11_wjadpmes__wj_ia__poc__r_sn_cnf_t"
    sink.label-prefix = "wj-json"
    sink.enable-delete = "true"
    schema_save_mode = "CREATE_SCHEMA_WHEN_NOT_EXIST"
    data_save_mode = "APPEND_DATA"
    save_mode_create_template = """
    CREATE TABLE IF NOT EXISTS `test_variant`.`jsonpath_wj_c11_wjadpmes__wj_ia__poc__r_sn_cnf_t` (
      scn VARCHAR(255) NOT NULL,
      train_id VARCHAR(255)   NULL,
      train_seq VARCHAR(255)   NULL,
      `owner` VARCHAR(255) NOT  NULL,
      table_name VARCHAR(255)  NOT NULL,  -- renamed to avoid keyword conflict
      op VARCHAR(255) NOT NULL,
      rowid VARCHAR(255) NOT   NULL,
      load_seq VARCHAR(255)  NOT  NULL,
      dbname VARCHAR(255) NOT  NULL,
      columnInfo_serial_number VARCHAR(255)  NOT NULL,
      columnInfo_mo_number VARCHAR(255)  NOT NULL,
      columnInfo_model_name VARCHAR(255) NOT NULL,
      columnInfo_line_name VARCHAR(255) NOT  NULL,
      Input_time Datetime NOT NULL
    ) ENGINE=OLAP
    DUPLICATE KEY (`scn`, `train_id`, `train_seq`)  -- ‰øÆÊîπ??DUPLICATE KEYÔºå‰∏¶?áÂ??ÄË¶ÅÁ??ÜÂ???
    DISTRIBUTED BY HASH (`scn`)  -- ?ÜÂ??µÂèØ‰ª•Ê†π?öÈ?Ê±Ç‰øÆ??
    PROPERTIES (
      "replication_allocation" = "tag.location.default: 1",
      "in_memory" = "false",
      "storage_format" = "V2",
      "disable_auto_compaction" = "false"
    )"""
    doris.config {
      format = "json"
      read_json_by_line = "true"
    }
  }
}



# sink {
#   Doris {
  
#     source_table_name= "fake_trans_sql"
#     result_table_name = "fake_doris"   # Add this line
#     doris.batch.size = 1024
#     fenodes = "<doris-fe-host>:8030"
#     username = "root"
#     password = ""
#     database = "test_variant"
#     table = "jsonpath_wj_c11_wjadpmes__wj_ia__poc__r_sn_cnf_t"
#     sink.label-prefix = "wj-json"
#     sink.enable-delete = "true"
#     schema_save_mode = "CREATE_SCHEMA_WHEN_NOT_EXIST"
#     data_save_mode = "APPEND_DATA"
#     save_mode_create_template = """
#     CREATE TABLE IF NOT EXISTS `test_variant`.`jsonpath_wj_c11_wjadpmes__wj_ia__poc__r_sn_cnf_t` (
#     scn VARCHAR(255) NOT NULL,
#     train_id VARCHAR(255)   NULL,
#     train_seq VARCHAR(255)   NULL,
#     `owner` VARCHAR(255) NOT  NULL,
#     table_name VARCHAR(255)  NOT NULL,  -- renamed to avoid keyword conflict
#     op VARCHAR(255) NOT NULL,
#     rowid VARCHAR(255) NOT   NULL,
#     load_seq VARCHAR(255)  NOT  NULL,
#     dbname VARCHAR(255) NOT  NULL,
#     columnInfo_serial_number VARCHAR(255)  NOT NULL,
#     columnInfo_mo_number VARCHAR(255)  NOT NULL,
#     columnInfo_model_name VARCHAR(255) NOT NULL,
#     columnInfo_line_name VARCHAR(255) NOT  NULL,
#     Input_time Datetime NOT NULL,
#     ) ENGINE=OLAP
#     UNIQUE KEY (scn)  -- Consider composite key if needed
#     DISTRIBUTED BY HASH (scn)
#     PROPERTIES (
#     "replication_allocation" = "tag.location.default: 1",
#     "in_memory" = "false",
#     "storage_format" = "V2",
#     "disable_auto_compaction" = "false"
#     )"""
#     doris.config {
#       format = "json"
#       read_json_by_line = "true"
#     }
#   }
# }

